@media screen and (max-width: 1473px) {
    body {
        background-color: white;

    }
    .search-bar {

        margin-left: 1.5rem;

    }
    
    .search{
        width:0;
    }
    .microphone{
        margin-left: -8.125rem;
    }
    .menu-icons{
        margin-left: 0px;
        position: absolute;
        right: 0;
    }
    .sidebar{
        display:none;
    }
    .video-section{
        flex-direction:column;
    }
    .mainbody{
        margin-left: -1.5rem;
        padding: 0rem;
    }
    .video-section-title{
        margin-left: 1.5rem;
    }
}