@media screen and (max-width: 1473px) {
    body {
        background-color: white;

    }
    .search-bar {

        margin-left: 1.5rem;

    }
    
    .search{
        width:7.75rem;
        border-radius: 1.25rem;
    }
    .microphone{
        margin-left: -8.125rem;
    }
    .menu-icons{
        margin-left: 0px;
        position: absolute;
        right: 0;
    }
    .sidebar{
        display:none;
    }
    .video-section{
        flex-direction:column;
    }
    .mainbody{
        margin-left: -1.5rem;
        padding: 0rem;
    }
    .video-section-title{
        margin-left: 1.5rem;
    }
    .search-button {
        display: none;
    }
    
    
}
@media(min-width: 1550px)
{
    
    .search-bar{
        padding:6px;
        max-width: 50%;
    }
    .search{
       height:44px;

    }
    .search-button{
        height:44px;

    }
    .microphone{
        margin-left: -144px;
        height:30px;
        margin-top:2px; 
    }
    .notification
    {
        height:30px;
        margin-top:2px;
    }
    .logo{
        height:30px;
        margin-top:2px;
    }
    .video-section{
      gap:140px;
      margin-left:17px;
    }
    .video-container{
        width:410px;
    }
    .sidebar{
        width:242px;
    }
}