:root{
    /* Display */
    --div-display:flex;
   
    /* Justify Content */
    --div-justify-content-primary:center;
    --div-justify-content-secondary:space-between;
   
    /* Align Items */
    --div-align-items-primary:center;
    --div-align-items-secondary:flex-start;
    
    /* pOSITION */
    --div-position-primary:relative;
    --div-position-secondary:absolute;

    /* Cursor */
    --div-cursor:pointer;

    /* Border radius */
    --div-radius-max:50%;
    --div-radius-small:6px;
    --div-radius-medium:8px;
    --div-radius-large:34px;

    /* Padding */
    --div-padding-special:1.6px 0.3px;
    --div-padding-extraSmall:0px;
    --div-padding-small:6px 12px;
    --div-padding-medium:12px;
    --div-padding-large:0 20px;
    --div-padding-extraLarge:48px 0;
    
    /* Margin */
    --div-margin-smallest:0px;
    --div-margin-medium:12px;
        /* Margin-right */
        --div-margin-right-large:8px;
        --div-margin-right-small:0px;
        /* Margin-left */
        --div-margin-left-extraSamll:0px;
        --div-margin-left-small:33px;
        --div-margin-left-large:250px;
        /* Margin-top  */
        --div-margin-top-var:12px;
        /* Margin-bottom  */
        --div-margin-bottom-var:5px;
    /* End */
    /* Border-top & left */
    --div-borderTop-none:none;
    --div-borderTop-set1:1px solid rgb(94, 94, 94);
    --div-borderTop-set2: 4px solid white;
    --div-borderBottom-set:1px solid rgb(94, 94, 94);

    /* Height */
    --div-heightFull:full;
    --div-height-large:100%;
    --div-height-medium:36px;
    --div-height-small:20px;
    --div-height-special:(100vh -70px);
    /* Back-Ground */
    --div-background-color-primary:lightgray;
    --div-background-color-secondary:white;
    --div-background-color-tertiary:rgb(228,228,228);
    --div-background-color-quaternary:rgb(168, 166, 166);
    --div-background-color-quinary:black;
    /* Color */
    --div-color-primary:white;
    --div-color-secondary:black;
    --div-color-tertiary:rgb(114, 113, 113)


    
    
    
}


*,*::before,*after{
    box-sizing: border-box;
    font-family: Roboto,Arial,sans-serif;
}

body{
    margin: var(--div-margin-smallest);
    padding: var(--div-padding-extraSmall);
    font-family: Roboto,Arial,sans-serif;
}


.video-section{
    display:var(--div-display);
    gap: 48px 16px;
    padding: var(--div-padding-extraLarge);
    margin: var(--div-margin-medium);
    border-top: var(--div-borderTop-set2);
}
.video-section:first-child{
    border-top: var(--div-borderTop-none);
}   

.video-container{
    display: var(--div-display);
    flex-direction:column;
    margin-left:var(--div-margin-left-small);
}
.thumbnail{
    display:var(--div-display);
    position:var(--div-position-primary);
    align-items: var(--div-align-items-primary);
    justify-content: var(--div-justify-content-primary);
    overflow: hidden;
    border-radius: var(--div-radius-medium);
}
.thumbnail::before{
    content:attr(data-duration);
    position:var(--div-position-secondary);
    
    background-color:var(--div-background-color-quinary);
    color:var(--div-color-primary);
    right:5px;
    bottom:5px;
    padding: var(--div-padding-special);
    border-radius:var(--div-radius-small);
    font-size: 14px;
}

.thumbnail-image{
    width: 200%;
    height:var(--div-height-large);
    min-width:250px;
    min-height:150px;
    background-color: var(--div-background-color-primary);
}

.video-bottom{
    display:var(--div-display);
    align-items: var(--div-align-items-secondary);
    margin-top: var(--div-margin-top-var);
}

.channel-icon{
    margin-top: var(--div-margin-top-var);
    margin-right:var(--div-margin-right-large);
    border-radius:var(--div-radius-max);
    width: 36px;
    height: var(--div-height-medium);
    background-color:var(--div-background-color-primary); 
}

.video-details{
    display: var(--div-display);
    flex-direction: column;
}
.video-titile{
    font-size:17px;
    font-weight:bold;
    color:var(--div-align-items-secondary);
    margin-bottom: var(--div-margin-bottom-var);
    text-decoration:none;
    margin-top:var(--div-margin-top-var);
}
.video-channel-name{
    margin-bottom:var(--div-margin-bottom-var);
    text-decoration: none;
    color:var(--div-color-tertiary);
    transition: --div-color-tertiary 0.3s;
}
.video-channel-name:hover{
    color:var(--div-color-secondary); 
}
.video-stats{
    color:var(--div-color-tertiary);
}
.video-section-title{
    
    margin-left: var(--div-margin-left-small);
    display:var(--div-display);
    justify-content: var(--div-justify-content-secondary);
    align-items: var(--div-align-items-primary);
    
}
.video-section-title-close{
    border:none;
    background:none;
    padding: var(--div-padding-extraSmall);
    font-size: 24px;
    color:var(--div-color-tertiary);
    cursor:var(--div-cursor)

}
.videos{

    color:var(--div-color-secondary);
}

.categories{
    padding:var(--div-padding-small);
    border-top: var(--div-borderTop-set1);
    border-bottom: var(--div-borderBottom-set);

}
.categorie-sec{
    display: var(--div-display);
    overflow:hidden;

}
.category{
    margin-right:var(--div-margin-right-large);
    word-wrap: none;
    white-space: nowrap;
    border:1px solid rgb(94, 94, 94);
    border-radius:var(--div-radius-medium);
    background-color:var(--div-background-color-tertiary);
    padding:var(--div-padding-small);
    font-size:inherit;
    cursor:var(--div-cursor);
    transition: var(--div-background-color-primary) 0.3s;
}
.category:hover{
    background-color:var(--div-background-color-quaternary) ;
    color:var(--div-color-secondary);
}
.category.last-child{
    margin-right:var(--div-margin-right-large);
} 
.header{
    display: var(--div-display);
    justify-content: var(--div-justify-content-secondary);
    align-items:var(--div-align-items-primary);
    padding:var(--div-padding-medium);
    overflow:hidden
}
.logo{
    height:var(--div-height-small);
    
}
.search-bar{
    display:var(--div-display);
    flex-grow:1; 
    margin-right:var(--div-margin-right-small);
    margin-left:var(--div-margin-left-large);
    max-width: 600px; 
    height: var(--div-height-medium); 
    border-radius: var(--div-radius-max);
     
}
.search{

    width:100%;
    font-size:inherit;
    padding: var(--div-padding-medium);
    border:1px solid rgb(94, 94, 94);
   
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px; 
}
   
    
.search-button{ 
display: var(--div-display);
align-items: var(--div-align-items-primary);
padding:var(--div-padding-large);
border:var(--div-borderTop-set1);
border-left: var(--div-borderTop-none);
border-top-right-radius: 20px;
border-bottom-right-radius: 20px;
cursor:var(--div-cursor);
} 

.search-button:hover{
    background-color: var(--div-background-color-quaternary);
    color:var(--div-color-primary);
}

.microphone{
    margin-left: var(--div-margin-left-extraSamll);
    margin-right:var(--div-margin-right-large);
    display: var(--div-display);
    align-items: var(--div-align-items-primary);
    justify-content: var(--div-justify-content-primary);
}
.menu-icons{
    margin-left:var(--div-margin-left-large);
    display:var(--div-display);
    align-items:var(--div-align-items-primary);
    gap:1.5rem;
}

.menu-channel-icon{
    border-radius: var(--div-radius-max);
    width: 36px;
    height: var(--div-height-medium);
    background-color: var(--div-background-color-primary);
}

.mainbody{
    display: var(--div-display);
    height: var(--div-height-special);
  
}
.sidebar{
    height:var(--div-heightFull);
    width: 230px;
    overflow-y: scroll;
    background-color:var(--div-background-color-secondary); 
    padding: var(--div-padding-medium); 
}
.sidebar-category{
    display: var(--div-display);
    align-items: var(--div-align-items-primary);
    margin: var(--div-margin-medium); 
    

}
.sidebar-category:hover {
    background-color: var(--div-background-color-tertiary);
    cursor:var(--div-cursor);
    padding: var(--div-padding-small);
    border-radius: var(--div-radius-small);
    transition: 0.4s ease-out;
    
}
.channel-title {
    display: var(--div-display);
    align-items: var(--div-align-items-primary);
    gap: 0.5rem;
    margin:var(--div-margin-medium);
}
.sidebar-home{
    display:var(--div-display);
    margin-right:var(--div-margin-right-large);
}
.sidebar-trending{
    display: var(--div-display);
    margin-right:var(--div-margin-right-large);
}
.sidebar-subscription{
    display: var(--div-display);
    margin-right:var(--div-margin-right-large);
}
.sidebar-history{
    display: var(--div-display);
    margin-right:var(--div-margin-right-large);
}
.sidebar-downloads{
    display: var(--div-display);
    margin-right:var(--div-margin-right-large);
}
.sidebar-later{
    display: var(--div-display);
    margin-right:var(--div-margin-right-large);
}
.sidebar-music{
    display: var(--div-display);
    margin-right:var(--div-margin-right-large);
}
.sidebar-liked{
    display: var(--div-display);
    margin-right:var(--div-margin-right-large);
}
.switch {
  position: var(--div-position-primary);
  display: var(--div-display);
  width: 60px;
  height: var(--div-height-medium);
}
.slider {
    display: var(--div-display);
    position: var(--div-position-secondary);
    cursor: var(--div-cursor);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--div-background-color-primary);
    transition: .4s;
    border-radius: var(--div-radius-large);
}
.slider:before {
    position: var(--div-position-secondary);
    content: "";
    height: var(--div-height-small);
    width: 20px;
    left: 5px;
    bottom: 8px;
    background-color: white;
    transition: .4s;
    border-radius: var(--div-radius-max);
}
.ThemeButton {
    text-align: center;
    margin-left: var(--div-margin-left-extraSamll);
    margin-right: var(--div-margin-right-large);
    display: var(--div-display);
    width: 40px;
    height: var(--div-height-medium);
}
input:checked + .slider {
    background-color: var(--div-background-color-quinary);
}
input:checked + .slider:before {
    transform: translateX(10px);
}
